<fieldset>
  <legend>Client Form</legend>

  <!-- NAME -->
  <div class="form-group">
    <label for="client-name">Name</label><br>
    <input class="form-control" id="client-name" type="text" name="name" value="{{client.name}}"/>
  </div>

  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="client-description">Description</label><br>
    <textarea class="form-control" id="client-description" type="text" name="description" rows="10"/>{{client.description}} </textarea>
  </div>

</fieldset>
