<!-- This is a layout template, which is canon for other templates. Conceptually it's somewhat like a Swift extension -->

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Charity Directory</title>
</head>
<body>

  {{{body}}}

</body>
</html>
