<a href="/">Back to Homepage</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <h2>{{client.name}}</h2>
    <h3>{{client.description}}</h3>

    <p><a href="/clients/{{client._id}}/edit">Edit</a></p>

    <!--Delete btn-->
    <p><form method="POST" action="/clients/{{client._id}}?_method=DELETE">
       <button type="submit">Delete</button>
    </form></p>

    {{> donation-form}}

    {{#each donations}}
      {{> donation}}
    {{/each}}

 </div>
</div>
